/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6f6;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin: 0;
}

header img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px;
}

footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ccc;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #a262c0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9651a8;
}
